header h1 {
    margin: 15px;
}

#flex-container {
    display: flex;
}

#flex-container section {
    margin: 15px;
    padding: 10px;
    border: solid black;
    height: 100%;
}

#input {
    width: 25%;
}

#data {
    width: 75%;
}

#forecast {
    display: flex;
}

#forecast div {
    margin: 20px;
}

nav * {
    margin-top: 5px;
    margin-bottom: 5px;
}

#search-history {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    #flex-container {
        display: block;
    }

    #flex-container section {
        width: auto;
        margin: 15px auto;
    }
}